@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/************************** START ******************************/
html {
  font-size: 62.5%;
  font-family: sans-serif;
}

#blockpage {
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

header {
  background: #579c87;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  height: 8rem;
}
header h1 {
  font-size: 5rem;
  color: #fdcb46;
}

/************************** Cards ******************************/
.card1 {
  background: #fcdfdb;
  font-family: "Lily Script One", cursive;
}
.card1 h2, .card1 h3 {
  color: #3c1218;
  background: -webkit-linear-gradient(45deg, #3c1218, #3c1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card1 p {
  color: #3c1218;
}

.card2 {
  background: #fff5fe;
  font-family: "PT Serif", serif;
}
.card2 h2, .card2 h3 {
  color: #c77412;
  background: -webkit-linear-gradient(45deg, #d8852e, #9358ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card2 p {
  color: #c77412;
}

.card3 {
  background: #f9f9f9;
  font-family: "Dancing Script", cursive;
}
.card3 h2, .card3 h3 {
  color: #0887fb;
  background: -webkit-linear-gradient(45deg, #0431df, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card3 p {
  color: #0887fb;
}

.card4 {
  background: #fdfffd;
  font-family: "Kalam", cursive;
}
.card4 h2, .card4 h3 {
  color: #72bf56;
  background: -webkit-linear-gradient(45deg, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card4 p {
  color: #72bf56;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 3rem;
}

.cards {
  margin: 4rem 1rem 0;
  width: 90%;
  max-width: 35rem;
  height: 45rem;
  box-shadow: 0 0 0.8rem 0.1rem #929292;
}
.cards h2 {
  font-size: 2.9rem;
}
.cards p {
  font-size: 4rem;
}
.cards a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card1 img {
  width: 3.5rem;
}
.card1 h3 {
  font-weight: normal;
}

button {
  margin-top: 2rem;
  background: #579c87;
  color: #fdcb46;
  width: 32rem;
  height: 4.8rem;
  border: none;
  border-radius: 1.2rem;
  font-size: 3rem;
  outline-style: none;
}
button:hover {
  cursor: pointer;
}

.cards h2, .menus h3 {
  padding: 0 1rem;
}

/************************** menus ******************************/
main {
  text-align: center;
}
main h2 {
  font-size: 2.5rem;
  margin: 4rem auto 2rem;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5rem auto;
  padding: 8rem 0 7rem;
  width: 90%;
  max-width: 76.8rem;
  box-shadow: 0 0 0.8rem 0.1rem #929292;
}
.menus h3 {
  margin-top: 0;
  padding-bottom: 8rem;
  font-size: 3rem;
}
.menus section {
  margin-bottom: 3rem;
  width: 85%;
}
.menus h4 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 3rem;
}
.menus ul {
  padding: 0;
}
.menus li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 1rem;
}
.menus li p:nth-child(2) {
  font-weight: bold;
}

.menu1 img {
  width: 6rem;
}
.menu1 h3:last-child {
  background: url(../img/note.svg) no-repeat left top 50%;
  background-size: 3rem;
  padding-bottom: 0;
  padding-left: 5rem;
  -webkit-text-fill-color: inherit;
}
.menu1 h4 {
  color: #3c1218;
}

.menu2 .menu_starter h4 {
  color: #d8852e;
}
.menu2 .menu_starter p {
  color: #d8852e;
}

.menu2 .menu_main h4 {
  color: #a56799;
}
.menu2 .menu_main p {
  color: #a56799;
}

.menu2 .menu_dessert h4 {
  color: #9358ef;
}
.menu2 .menu_dessert p {
  color: #9358ef;
}

.menu3 h3 {
  font-size: 4rem;
}
.menu3 h4 {
  font-size: 2.5rem;
}
.menu3 li p:first-child {
  font-size: 1.8rem;
}
.menu3 p {
  color: #000;
}

.menu4 p {
  color: #000;
}

/************************** Footer ******************************/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background: #579c87;
  height: 5rem;
  padding: 0 2rem;
  min-width: 32rem;
}
footer a {
  font-size: 1.8rem;
  color: #fdcb46;
}

/************************** Mention ******************************/
.mention {
  width: 80%;
  margin: 0 auto 10rem;
}
.mention h3 {
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
}
.mention h4 {
  margin: 1rem 0 0.5rem;
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
}
.mention p {
  text-align: justify;
}
.mention span {
  font-weight: bold;
}

/************************** medium screen ******************************/
@media all and (min-width: 490px) {
  .menu1 section h4 {
    background-size: 30% !important;
  }
  .menu1 .menu_starter h4 {
    background: url("../img/line1-left.svg") no-repeat left, url("../img/line1-right.svg") no-repeat right;
  }
  .menu1 .menu_main h4 {
    background: url("../img/line1-left.svg") no-repeat left, url("../img/line1-right.svg") no-repeat right;
  }
  .menu1 .menu_dessert h4 {
    background: url("../img/line1-left.svg") no-repeat left, url("../img/line1-right.svg") no-repeat right;
  }

  .menu2 section h4 {
    background-size: 20% !important;
  }
  .menu2 .menu_starter h4 {
    background: url("../img/line2-orange-left.svg") no-repeat left, url("../img/line2-orange-right.svg") no-repeat right;
  }
  .menu2 .menu_main h4 {
    background: url("../img/line2-purple-left.svg") no-repeat left, url("../img/line2-purple-right.svg") no-repeat right;
  }
  .menu2 .menu_dessert h4 {
    background: url("../img/line2-pink-left.svg") no-repeat left, url("../img/line2-pink-right.svg") no-repeat right;
  }

  .menu3 section h4 {
    background-size: 23% !important;
  }
  .menu3 .menu_starter h4 {
    background: url("../img/line3-left1.svg") no-repeat left, url("../img/line3-right1.svg") no-repeat right;
  }
  .menu3 .menu_main h4 {
    background: url("../img/line3-left2.svg") no-repeat left, url("../img/line3-right2.svg") no-repeat right;
  }
  .menu3 .menu_dessert h4 {
    background: url("../img/line3-left3.svg") no-repeat left, url("../img/line3-right3.svg") no-repeat right;
  }

  .menu4 section h4 {
    background-size: 28% !important;
  }
  .menu4 .menu_starter h4 {
    background: url("../img/line4-left.svg") no-repeat left, url("../img/line4-right.svg") no-repeat right;
  }
  .menu4 .menu_main h4 {
    background: url("../img/line4-left.svg") no-repeat left, url("../img/line4-right.svg") no-repeat right;
  }
  .menu4 .menu_dessert h4 {
    background: url("../img/line4-left.svg") no-repeat left, url("../img/line4-right.svg") no-repeat right;
  }
}
/************************** large screen ******************************/
@media all and (min-width: 769px) {
  nav {
    max-width: 99.8rem;
    margin: 0 auto;
    padding-bottom: 8rem;
    flex-direction: row;
  }

  /************************** menus ******************************/
  .menus {
    margin-bottom: 10rem;
  }

  .menus li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .menus li p:first-child {
    padding-right: 15rem;
  }

  .menu1 section h4 {
    background-size: 36% !important;
  }

  .menu2 section h4 {
    background-size: 30% !important;
  }

  .menu3 section h4 {
    background-size: 32% !important;
  }

  .menu4 section h4 {
    background-size: 36% !important;
  }

  /************************** footer ******************************/
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 5rem;
  }
  footer a {
    font-size: 2.8rem;
  }
}

/*# sourceMappingURL=mobile.css.map */
