@import "libs/font.scss";
@import "libs/normalize.scss";
@import "libs/mixin.scss";

/************************** START ******************************/

$basic_color: #fdcb46;
$basic_background: #579c87;

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

#blockpage {
    width: 100%;
    margin: 0 auto;
}

p {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

header {
    background: $basic_background;
    @include flex;
    text-align: center;
    height: 8rem;

    h1 {
        font-size: 5rem;
        color: $basic_color;
    }
}

/************************** Cards ******************************/

$cards: (
    card1:(
        background_color: #fcdfdb,
        gradient_color1: #3c1218,
        gradient_color2: #3c1218,
        base_color: #3c1218,
        font_familly: ('Lily Script One', cursive)
    ),
    card2:(
        background_color: #fff5fe,
        gradient_color1: #d8852e,
        gradient_color2: #9358ef,
        between_color: #a56799,
        base_color: #c77412,
        font_familly: ('PT Serif', serif)
    ),
    card3:(
        background_color: #f9f9f9,
        gradient_color1: #0431df,
        gradient_color2: #0887fb,
        base_color: #0887fb,
        font_familly: ('Dancing Script', cursive)
    ),
    card4:(
        background_color: #fdfffd,
        gradient_color1: #3d9339,
        gradient_color2: #bfff7e,
        base_color: #72bf56,
        font_familly: ('Kalam', cursive)
    )
);

@each $card in $cards {

    .#{nth($card, 1)} {
        //background: map_get(map_get($cards, nth($card, 1)), background_color);
        background: map_get(map_get($cards, nth($card, 1)), background_color);
        font-family: map_get(map_get($cards, nth($card, 1)), font_familly);

        h2, h3 {
            color: map_get(map_get($cards, nth($card, 1)), base_color);
            @include text-gradient($color1: map_get(map_get($cards, nth($card, 1)), gradient_color1), $color2: map_get(map_get($cards, nth($card, 1)), gradient_color2))
        }

        p {
            color: map_get(map_get($cards, nth($card, 1)), base_color);
        }
    }
}

nav {
    @include flex($direction: column, $justify: space-around);
    padding-bottom: 3rem;
}

.cards {
    margin: 4rem 1rem 0;
    width: 90%;
    max-width: 35rem;
    height: 45rem;
    box-shadow: 0 0 0.8rem 0.1rem #929292;

    h2 {
        font-size: 3.2rem;
    }

    p {
        font-size: 4rem;
    }

    a {
        @include flex($direction: column, $align: center);
        width: 100%;
        height: 100%;
    }
}

.card1 {
    img {
        width: 3.5rem;
    }

    h3 {
        font-weight: normal;
    }
}

button {
    margin-top: 2rem;
    background: $basic_background;
    color: $basic_color;
    width: 32rem;
    height: 4.8rem;
    border: none;
    border-radius: 1.2rem;
    font-size: 3rem;
    outline-style: none;

    &:hover {
        cursor: pointer;
    }
}

.cards h2, .menus h3 {
    padding: 0 1rem;
}

/************************** menus ******************************/

main {
    text-align: center;

    h2 {
        font-size: 2.5rem;
        margin: 4rem auto 2rem;
    }
}

.menus {
    @include flex($direction: column);
    margin: 5rem auto;
    padding: 8rem 0 7rem;
    width: 90%;
    max-width: 76.8rem;
    box-shadow: 0 0 0.8rem 0.1rem #929292;

    h3 {
        margin-top: 0;
        padding-bottom: 8rem;
        font-size: 3rem;
    }

    section {
        margin-bottom: 3rem;
        width: 85%;
    }

    h4 {
        font-size: 2rem;
        font-weight: normal;
        margin-bottom: 3rem;
    }

    ul {
        padding: 0;
    }

    li {
        @include flex($direction: column);
        margin-bottom: 1rem;

        p:nth-child(2) {
            font-weight: bold;
        }
    }
}

$menus: (
    menu1:(
        background_starter: (url("../img/line1-left.svg") no-repeat left, url("../img/line1-right.svg") no-repeat right),
        background_main: (url("../img/line1-left.svg") no-repeat left, url("../img/line1-right.svg") no-repeat right),
        background_dessert:(url("../img/line1-left.svg") no-repeat left, url("../img/line1-right.svg") no-repeat right),
        background_size: 30%
    ),
    menu2:(
        background_starter: (url("../img/line2-orange-left.svg") no-repeat left, url("../img/line2-orange-right.svg") no-repeat right),
        background_main: (url("../img/line2-purple-left.svg") no-repeat left, url("../img/line2-purple-right.svg") no-repeat right),
        background_dessert:(url("../img/line2-pink-left.svg") no-repeat left, url("../img/line2-pink-right.svg") no-repeat right),
        background_size: 20%
    ),
    menu3:(
        background_starter:(url("../img/line3-left1.svg") no-repeat left, url("../img/line3-right1.svg") no-repeat right),
        background_main:(url("../img/line3-left2.svg") no-repeat left, url("../img/line3-right2.svg") no-repeat right),
        background_dessert:(url("../img/line3-left3.svg") no-repeat left, url("../img/line3-right3.svg") no-repeat right),
        background_size: 23%
    ),
    menu4:(
        background_starter: (url("../img/line4-left.svg") no-repeat left, url("../img/line4-right.svg") no-repeat right),
        background_main:(url("../img/line4-left.svg") no-repeat left, url("../img/line4-right.svg") no-repeat right),
        background_dessert:(url("../img/line4-left.svg") no-repeat left, url("../img/line4-right.svg") no-repeat right),
        background_size: 28%
    )
);

@each $menu in $menus {
    .#{nth($menu, 1)} {

        section h4 {
            background-size: map_get(map_get($menus, nth($menu, 1)), background_size) !important;
        }

        .menu_starter h4 {
            background: map_get(map_get($menus, nth($menu, 1)), background_starter);
        }

        .menu_main h4 {
            background: map_get(map_get($menus, nth($menu, 1)), background_main);
        }

        .menu_dessert h4 {
            background: map_get(map_get($menus, nth($menu, 1)), background_dessert);
        }
    }
}

.menu1 {
    img {
        width: 6rem;
    }

    h3:last-child {
        background: url(../img/note.svg) no-repeat left top 50%;
        background-size: 3rem;
        padding-bottom: 0;
        padding-left: 5rem;
        -webkit-text-fill-color: inherit;
    }

    h4 {
        color: map_get(map_get($cards, card1), base_color);
    }
}

.menu2 .menu_starter {
    h4 {
        color: map_get(map_get($cards, card2), gradient_color1);
    }

    p {
        color: map_get(map_get($cards, card2), gradient_color1);
    }
}

.menu2 .menu_main {
    h4 {
        color: map_get(map_get($cards, card2), between_color);
    }

    p {
        color: map_get(map_get($cards, card2), between_color);
    }
}

.menu2 .menu_dessert {

    h4 {
        color: map_get(map_get($cards, card2), gradient_color2);
    }

    p {
        color: map_get(map_get($cards, card2), gradient_color2);
    }
}

.menu3 {
    h3 {
        font-size: 4rem;
    }

    h4 {
        font-size: 2.5rem;
    }

    li p:first-child {
        font-size: 1.8rem;
    }

    p {
        color: #000;
    }
}

.menu4 p {
    color: #000;
}

/************************** Footer ******************************/

footer {
    @include flex($justify: space-between);
    background: $basic_background;
    height: 5rem;
    padding: 0 2rem;
    min-width: 32rem;

    a {
        font-size: 1.8rem;
        color: $basic_color;
    }
}

/************************** Mention ******************************/
.mention {
    width: 80%;
    margin: 0 auto 10rem;

    h3 {
        font-size: 3rem;
        margin-top: 2rem;
        text-align: center;
    }

    h4 {
        margin: 1rem 0 0.5rem;
        font-weight: bold;
        text-align: left;
        font-size: 1.5rem;
    }

    p {
        text-align: justify;
    }

    span {
        font-weight: bold;
    }

}


/************************** large screen ******************************/
@media all and(min-width: 769px) {

    nav {
        max-width: 99.8rem;
        margin: 0 auto;
        padding-bottom: 8rem;
        flex-direction: row;
    }

    /************************** menus ******************************/
    .menus {
        margin-bottom: 10rem;
    }

    .menus li {
        @include flex($justify: space-between, $direction: row);

        p:first-child {
            padding-right: 15rem;
        }
    }
    .menu1 section h4 {
        background-size: 36% !important;
    }
    .menu2 section h4 {
        background-size: 30% !important;
    }
    .menu3 section h4 {
        background-size: 32% !important;
    }
    .menu4 section h4 {
        background-size: 36% !important;
    }
    /************************** footer ******************************/

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0 5rem;

        a {
            font-size: 2.8rem;
        }
    }
}