/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/************************** START ******************************/
html {
  font-size: 62.5%;
  font-family: sans-serif;
}

#blockpage {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header {
  background: #579c87;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  height: 10rem;
}
header > * {
  color: #fdcb46;
}
header h1 {
  font-size: 5rem;
}

/************************** Cards ******************************/
.card1 {
  background: #fcdfdb;
}
.card1 h3 {
  background: -webkit-linear-gradient(45deg, #3c1218, #3c1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card1 p {
  color: #3c1218;
}

.card2 {
  background: #fff5fe;
}
.card2 h3 {
  background: -webkit-linear-gradient(45deg, #d8852e, #9358ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card2 p {
  color: #c77412;
}

.card3 {
  background: #f9f9f9;
}
.card3 h3 {
  background: -webkit-linear-gradient(45deg, #0431df, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card3 p {
  color: #0887fb;
}

.card4 {
  background: #fdfffd;
}
.card4 h3 {
  background: -webkit-linear-gradient(45deg, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card4 p {
  color: #72bf56;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 3rem;
}
nav > * {
  width: 90%;
  max-width: 35rem;
}
nav div {
  background: #579c87;
  margin-top: 2rem;
  border-radius: 1rem;
  width: 90%;
  height: 5rem;
  font-size: 3rem;
}
nav div > * {
  color: #fdcb46;
}
nav div a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
nav .cards {
  margin: 4rem 1rem 0;
  width: 90%;
  height: 45rem;
  box-shadow: 0 0 0.8rem 0.1rem #929292;
}
nav .cards h3 {
  font-size: 2rem;
}
nav .cards p {
  font-size: 4rem;
}
nav .cards a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card1 img {
  width: 3.5rem;
}

/************************** Footer ******************************/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background: #579c87;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
}
footer > * {
  color: #fdcb46;
}
footer a {
  font-size: 1.8rem;
}

/************************** large screen ******************************/
@media all and (min-width: 768px) {
  #blockpage {
    max-width: 99.2rem;
  }

  nav {
    padding-bottom: 8rem;
    flex-direction: row;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 99.2rem;
  }
}

/*# sourceMappingURL=mobile.css.map */
